* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #292D69;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border: 1px solid; /* for debugging only */
    /* padding: 10px; */
    width: 900px;
    display: flex;
    justify-content: space-between;

}

.header-container { 
    color: darkred;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
 
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
   
   
    /* border: 1px solid green; */
    

}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    justify-content: space-around ;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

.first-item {
    order: 1;
}

.last-item {
    order: -1;
}

.photo-grid-item {
    /* border: 2px solid #fff; */
 
}

.hobbitimg {
    width: 300px;
}

.signup {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.socials,
.signup {
    align-self: flex-end;
    margin-bottom: 20px;
} 

