html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(92, 3, 106);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}   

h2 {
    text-align: center;
    color: white;
}

section {
    display: flex;
    flex-wrap: wrap-reverse;
}

article {
    padding: 10px;
    margin: 10px;
    background: rgb(15, 97, 2);
    flex: 1 200px;

}

.hobbitimg {
    border: 2px dashed orange;
    text-align: center;
}

img {
    width: 300px;
}