* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #056785;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    border: 1px solid; /* for debugging only */
    padding: 10px;
    width: 900px;
    display: flex;
    justify-content: space-between;

}

.header-container { 
    color: darkred;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
 
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    align-items: space-between;
    justify-content: center;
   
    /* border: 1px solid green; */
    

}